[submodule ".vim/pack/themes/opt/vim-colors-solarized"]
    path = .vim/pack/themes/opt/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "sync/.vim/pack/plugins/start/tsuquyomi"]
	path = sync/.vim/pack/plugins/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "sync/.vim/pack/plugins/start/typescript-vim"]
	path = sync/.vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "sync/.vim/pack/plugins/start/fzf.vim"]
	path = sync/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "sync/.vim/pack/plugins/start/fzf"]
	path = sync/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
