[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/themes/opt/vim-colors-solarized"]
    path = .vim/pack/themes/opt/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
